<!DOCTYPE html>
    <html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/robot.css') }}">
    <head>
        <title>Robot Interface</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    </head>

    <div class="robot_control">
        <button onclick="move_robot('w')" type="button">Forward</button>
        <button onclick="move_robot('s')" type="button">Backward</button>
        <button onclick="move_robot('a')" type="button">Left</button>
        <button onclick="move_robot('d')" type="button">Right</button>
        <button onclick="move_robot('stop')" type="button">Stop</button>
        <button onclick="window.location.href='http://127.0.0.1:5000/kill/'" type="button" id="kill">Kill</button>

        <div class="input_box">
            <ion-icon name="lock_closed_outline"></ion-icon>
            <input type="number" min=0 max="100" id="speed" required>
            <label for="">Speed</label>
        </div>

    </div>

    <!-- <img src="/camera_feed" class="camera"> -->
      
</html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="/static/js/robot.js" language="JavaScript" type="text/javascript"></script>